[submodule "docs-public"]
	path = docs-public
	url = https://github.com/intellistream/SAGE-Pub.git
[submodule "packages/sage-middleware/src/sage/middleware/components/sage_flow"]
	path = packages/sage-middleware/src/sage/middleware/components/sage_flow
	url = https://github.com/intellistream/candyFlow
