CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
/deps/CANDY/installation/dist/
/deps/CANDY/installation/candy.egg-info/dependency_links.txt
/deps/CANDY/installation/dist/candy-0.1.0.tar.gz
/deps/CANDY/installation/candy.egg-info/not-zip-safe
/deps/CANDY/installation/build/lib/candy/__init__.py
/deps/CANDY/installation/candy/__init__.py
/deps/CANDY/installation/dist/candy-0.1.0.tar.gz
/deps/CANDY/installation/dist/candy-0.1.0-py3-none-any.whl
/deps/CANDY/installation/candy.egg-info/dependency_links.txt
/.idea/deployment.xml
/.idea/misc.xml
/deps/CANDY/installation/candy.egg-info/not-zip-safe
/deps/CANDY/installation/candy.egg-info/PKG-INFO
/deps/CANDY/installation/candy.egg-info/SOURCES.txt
/deps/CANDY/installation/candy.egg-info/top_level.txt
