CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeUserPresets.json
/deps/CANDY/installation/dist/
/deps/CANDY/installation/candy.egg-info/
/deps/CANDY/installation/build/
/.idea/deployment.xml
/.idea/misc.xml

/installation/candy.egg-info/
/installation/build/
/installation/candy/
/installation/dist/
/installation/dist/
/installation/candy/

/deps/CANDY/.github/
