pipeline:
  name: "sage-api-operator-operator_test"
  description: "Test pipeline for Sage API Operator"
  version: "1.0.0"

source:
  data_path: "data/sample/question.txt"
  platform: "local"

retriever:
  platform: "local"
  ltm:
    topk: 3

generator:
  platform: "local"
  method: "openai"
  model_name: "qwen-turbo-0919"
  base_url: "https://dashscope.aliyuncs.com/compatible-mode/v1"
  seed: 42

promptor:
  platform: "local"

sink:
  platform: "local"
  file_path: "output.txt"